/* fonts */
@font-face {
    font-family: "Robote";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family:"Lobster";
    src: url(../fonts/Lobster-Regular.ttf);
}

/* colors */
:root{
    --primary:#FFCF4B;
    --secondary:#000;
}

/* reset Page */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../evgeny-tchebotarev-aiwuLjLPFnU-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.navbar_title a{
    font-family: "Lobster";
    font-size: 2rem;
    text-decoration: none;
    color: white;
    margin: 1rem;
}

.navbar_links ul{
   display: flex;
   margin-right: 1rem;
   padding: 0px;

}

.navbar_links ul li{
    list-style: none;
}

.navbar_links li a{
    text-decoration: none;
    color: #000;
    padding: 0.5rem 2rem;
    display: block;
    font-size: large;
    font-family: "Robote";
    font-weight: 700;
}

.navbar_links li:hover{
    background-color:darkorange;
    border-radius:3px;
}


/* responsive bar */

.toggle_button{
    position:absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle_button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
}

@media (max-Width:784px){
    .navbar_links li a{
        font-size: small;
        padding: 0.5rem 1rem;
    }
}

@media (max-Width:550px){
    .toggle_button{
        display: flex;
    }
    .navbar_links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_links ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar_links ul li{
        text-align: center;
    }

    .navbar_links.active{
        display: flex;
    }
}
